// I'll define here the colors based on the documents iven for he website

// background color used for neutral background on text etc.
$clr-background: #d3d3d3;

// color primary used for text, titles, etc.
$clr-primary: #102147;
$clr-primary-light: #3e4873;
$clr-primary-dark: #000020;

// color secondary used for accent, CTO, etc.
$clr-secondary: #9d2133;
$clr-secondary-light: #d3545c;
$clr-secondary-dark: #68000d;