@import './base/reset';
@import './base/colors';

@import './components/nav';
@import './components/article';
@import './components/comment';
@import './components/like';
@import './components/formSignup';
@import './components/formLogin';

html {
    background-color: $clr-neutral-lighter;
}

#root {
    padding-top: 6em;
    background-color: $clr-neutral-lighter;
}