@import '../base/colors';

#addArticle {
    #image {
        display: none
    }

    h4 {
        padding: 0.5em 1.5em 0.5em 1em;
        color: #fff;
        background-color: $clr-primary-light;
        clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
        -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
    }
}

#createArticle {
    -webkit-positon: sticky;
    position: sticky;
    z-index: 20;
    top: 4em;
}

.article {
    display: grid;


    .position-front {
        grid-area: 1 / 1 / 2 / 2;
    }

    .position-behind {
        grid-area: 1 / 1 / 2 / 2;
        top: 100px;
        left: 50px;


        .blob1 {
            fill: $clr-primary-lighter;
        }
    }

    h3 {
        padding: 0.5em 1.5em 0.5em 1em;
        color: #fff;
        background-color: $clr-secondary;
        clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
        -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
    }

    h4 {
        padding: 0.25em 0.75em 0.25em 0.5em;
        color: #fff;
        background-color: $clr-secondary-dark;
        clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
        -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);

        a {
            span {
                color: #fff;

                &:hover {
                    color: $clr-primary-lighter;
                    transform: rotate(-30deg)
                }
            }
        }
    }


    .articleImage {
        border-radius: 3px;
    }

}