@import '../base/colors';

#addArticle {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

    .add-article-container {
        border-bottom: solid 5px $clr-primary;
    }

    .titleBox {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

        h4 {
            padding: 0.5em 1.5em 0.5em 1em;
            color: #fff;
            background-color: $clr-primary-light;
            clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
            -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);

        }
    }


    #createArticle {
        -webkit-positon: sticky;
        position: sticky;
        z-index: 20;
        top: 4em;
    }

    background: $clr-neutral-lighter;
    -webkit-positon: sticky;
    position: sticky;
    z-index: 20;
    top:4em;

    .create-post {
        border-style: none;
        background: transparent;


    }

    input[name="title"]::placeholder {
        font-weight: bold;
        text-transform: uppercase;
    }
}



.article {
    display: grid;

    .position-behind {
        grid-area: 1 / 1 / 2 / 2;
        top: 100px;
        left: 50px;

        svg .blob1 {
            fill: $clr-primary-lightest;

        }
    }

    .position-front {
        grid-area: 1 / 1 / 2 / 2;
    }

    .article-container {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));






        .titleBox {
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

            h3 {
                padding: 0.5em 1.5em 0.5em 1em;
                color: #fff;
                background-color: $clr-secondary;
                clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
                -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
            }

            h4 {
                padding: 0.25em 0.75em 0.25em 0.5em;
                color: #fff;
                background-color: $clr-secondary-dark;
                clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
                -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);


                a {
                    span {
                        color: #fff;

                        &:hover {
                            color: $clr-primary-lighter;
                            transform: rotate(-30deg)
                        }
                    }
                }
            }

        }

        .image-container {

            margin: 0;
            width: 100%;

            .articleImage {
                width: 100%;
                -webkit-clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
                clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);

            }
        }

        .content-container {
            margin: 0;
            width: 100%;
            padding: 0.25em 0.75em 0.25em 0.5em;
            color: $clr-primary;
            background-color: #fff;

            -webkit-clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
            clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);

        }

        .article-text-container {


            p.author {
                font-weight: bold;
            }

            p.moment {
                font-style: italic;
            }

            .article-content-container {

                padding: 0.5em 0.75em 0.25em 0.5em;


                p.article-content {
                    display: block;
                    width: 100%;

                }
            }
        }

    }
}