.background-first-page {
    background-color: $clr-primary-lightest;
    background-image: url("../../img/output-onlinejpgtools\ grayscale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: #fff
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: transparent;
    background-color: transparent;

    .titleBox {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

        h3 {
            padding: 0.5em 1.5em 0.5em 1em;
            color: #fff;
            background-color: $clr-primary-light;
            clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
            -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
        }
    }

}

.form-login input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}