.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    & span:hover {
        color: $clr-secondary-lighter
    }

    span.liked {
        color: $clr-secondary-light;

        &:hover {
            color: $clr-primary-lighter
        }
    }


    // span.unliked {}
}