html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav.navbar {
  background-color: #102147;
}
nav.navbar .btn-primary {
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
  background-color: #102147;
  border-style: none;
}
nav.navbar .btn-primary:hover {
  background-color: #3e4873;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  border-style: none;
}
nav.navbar .nav-item a span {
  color: #fff;
}
nav.navbar .nav-item a:hover {
  background-color: #3e4873;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  border-style: none;
}
nav.navbar .navbar-toggler {
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
  background-color: #3e4873;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
}
nav.navbar .navbar-toggler:hover {
  background-color: #9d2133;
}
nav.navbar .navbar-toggler .navbar-toggler-icon {
  color: #fff;
  background-color: #fff;
}

#addArticle {
  background: #fafafa;
  -webkit-positon: sticky;
  position: sticky;
  z-index: 20;
  top: 4em;
}
#addArticle #image {
  display: none;
}
#addArticle .titleBox {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
#addArticle .titleBox h4 {
  padding: 0.5em 1.5em 0.5em 1em;
  color: #fff;
  background-color: #3e4873;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
}
#addArticle #createArticle {
  -webkit-positon: sticky;
  position: sticky;
  z-index: 20;
  top: 4em;
}
#addArticle .create-post {
  border-style: none;
  background: transparent;
}
#addArticle .create-post .accordion-button {
  border-style: none;
  background: transparent;
}

.article {
  display: grid;
}
.article .position-behind {
  grid-area: 1/1/2/2;
  top: 100px;
  left: 50px;
}
.article .position-behind .blob1 {
  fill: #6b73a2;
}
.article .position-front {
  grid-area: 1/1/2/2;
}
.article .article-container {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.article .article-container .titleBox {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.article .article-container .titleBox h3 {
  padding: 0.5em 1.5em 0.5em 1em;
  color: #fff;
  background-color: #9d2133;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
}
.article .article-container .titleBox h4 {
  padding: 0.25em 0.75em 0.25em 0.5em;
  color: #fff;
  background-color: #68000d;
  clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
  -webkit-clip-path: polygon(2% 0%, 100% 5%, 90% 87%, 6% 99%);
}
.article .article-container .titleBox h4 a span {
  color: #fff;
}
.article .article-container .titleBox h4 a span:hover {
  color: #6b73a2;
  transform: rotate(-30deg);
}
.article .article-container .image-container {
  margin: 0;
  width: 100%;
}
.article .article-container .image-container .articleImage {
  width: 100%;
  -webkit-clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
  clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
}
.article .article-container .content-container {
  margin: 0;
  width: 100%;
  padding: 0.25em 0.75em 0.25em 0.5em;
  color: #102147;
  background-color: #fff;
  -webkit-clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
  clip-path: polygon(1% 1%, 99% 0, 100% 99%, 0% 100%);
}
.article .article-container .article-text-container p.author {
  font-weight: bold;
}
.article .article-container .article-text-container p.moment {
  font-style: italic;
}
.article .article-container .article-text-container .article-content-container {
  padding: 0.5em 0.75em 0.25em 0.5em;
}
.article .article-container .article-text-container .article-content-container p.article-content {
  display: block;
  width: 100%;
}

.comments p.name {
  font-weight: bold;
}

.like-button span.liked {
  color: red;
}
.like-button span.unliked {
  color: white;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

html {
  background-color: #fafafa;
}

#root {
  padding-top: 6em;
  background-color: #fafafa;
}/*# sourceMappingURL=main.css.map */